@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";
@import "../../styles/global.scss";

@mixin bg_color($color, $url) {
  background: $color;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: right bottom;
  &:hover {
    opacity: 0.8;
  }
}

.card {
  width: 275px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &.purple {
    @include bg_color($purple-200, "../../assets/pattern_01.svg");
  }
  &.beige {
    @include bg_color($orange-200, "../../assets/pattern_02.svg");
  }
  &.blue {
    @include bg_color($blue-200, "../../assets/pattern_03.svg");
  }
  &.green {
    @include bg_color($green-200, "../../assets/pattern_04.svg");
  }
  &.bg_isImg {
    background-size: cover;
    color: var(--white);
    &:hover {
      opacity: 0.8;
    }
  }
}

@mixin recipient_style($color) {
  overflow: hidden;
  color: $color;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.24px;
}

@mixin alert_style($color, $font_weight) {
  color: $color;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: $font_weight;
  line-height: 26px;
  letter-spacing: -0.16px;
}

.card_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  margin: 30px 24px 20px;
  .recipient {
    @include recipient_style($gray-900);
  }
  .white_recipient {
    @include recipient_style($white);
  }
  .img_box {
    height: 28px;
    list-style-type: none;
    display: flex;
    margin: 12px 0px;
    padding: 0px;
  }
  .profile_image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1.5px solid var(--white);
    background: var(--white);
  }
  .remainder {
    display: flex;
    padding: 5px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: $white;
  }
  .remainder_text {
    color: var(--gray-500);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.06px;
  }
  .alert {
    @include alert_style($gray-700, 400);
  }
  .white_alert {
    @include alert_style($white, 400);
  }
  .count_alert {
    @include alert_style($gray-700, 700);
  }
  .white_count_alert {
    @include alert_style($white, 700);
  }
}
.recipient {
  @include recipient_style($gray-900);
}
.white_recipient {
  @include recipient_style($white);
}

.reaction_box_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  .reaction_box_top {
    width: 227px;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
  }

  .reaction_box {
    margin-top: 16px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .emoji_box {
    display: flex;
    padding: 8px 12px;
    align-items: flex-start;
    height: 38px;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.54);
  }

  .emoji {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .emoji_count {
    color: #fff;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .card {
    width: 275px;
    height: 260px;
  }

  .reaction_box_top {
    width: 150px;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
  }
}
