.container {
  display: grid;
  grid-template-columns: repeat(32rem);
  justify-content: center;
  row-gap: 1.6rem;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    row-gap: 1.6rem;
    -moz-column-gap: 1.6rem;
         column-gap: 1.6rem;
    padding: 0 2.4rem;
  }
}
@media (min-width: 1248px) {
  .container {
    row-gap: 2.8rem;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
}