// ServiceNavigationBar.module.scss

@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 6.8rem;
  max-width: 115.2rem;
  margin: 0px auto;
  background: colors.$white;

  &__service {
    display: flex;
    align-items: center;
    padding: 1.2rem 0rem;
  }

  &__text {
    width: 227px;
    color: colors.$gray-800;

    font-family: Pretendard;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.28px;
  }

  &__contentsFrame {
    display: flex;
    align-items: center;
    gap: 305px;
  }

  &__writerBox {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    width: 250px;
    height: 40px;
    padding-bottom: 5px;
  }

  &__writer {
    width: 56px;
    height: 28px;
  }

  &__writerPictureBox {
    display: flex;
    position: absolute;
    margin-left: -6rem;

    margin-top: 0.5rem;
    justify-content: center;
  }

  &__writerPictureFrame {
    display: flex;
  }

  &__recentProfileImage {
    margin-left: -1rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 9999px;
    margin-top: -0.5rem;
    border: 2px solid colors.$white;
  }

  &__writingNumberBox {
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    background-image: url("../../assets/Ellipse.svg");
    border: 1px solid colors.$gray-200;
    border-radius: 9999px;
  }

  &__userNumber {
    color: var(--gray-900, #181818);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    padding-left: 2px;
  }

  &__writeNumber {
    color: colors.$gray-900;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }

  h1 {
    display: inline;
    color: colors.$gray-900;
    font-size: 18px;
    font-weight: 700;
  }
  &__reactionShareFrame {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__reactionAndArrowBox {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__reactionBox {
    display: flex;
    margin-top: 0.1rem;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  &__badgeEmoji {
    width: 66px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.54);
  }

  &__arrowContainer {
    position: relative;
  }

  &__arrowBox {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 6px;
    margin-top: 1px;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: colors.$gray-200;
    }
  }

  &__emojiAddAndShareBox {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__emojiAddButton {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: 1px solid var(--gray-300, #ccc);
    background: var(--white, #fff);

    &:hover {
      background-color: colors.$gray-200;
    }
  }

  &__emojiAddButtonFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__reactangle {
    width: 1px;
    height: 28px;
    background: var(--gray-200, #eee);
  }

  &__shareButtonBox {
    position: relative;
  }

  &__shareButton {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid colors.$gray-300;
    background: var(--white, #fff);

    &:hover {
      background-color: colors.$gray-200;
    }
  }

  &__shareButtonFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__pickerBox {
    position: relative;
  }

  &__picker {
    top: 6rem;
    right: 14rem;
    position: absolute; // 상위에 position: relative;
    width: 30rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 1.2rem;
  }

  &__emojiFont {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.document {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
