@use "../styles/colors.scss";
@use "../styles/mixin.scss";
@import "../styles/global.scss";

@mixin arrow_box($url) {
  z-index: 999;
  background-image: $url;
  border: 1px solid rgb(177, 167, 167);
  cursor: pointer;
  background: colors.$white;
  opacity: 0.9;
  fill: rgba(255, 255, 255, 0.9);
  stroke-width: 1px;
  stroke: #dadcdf;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
  backdrop-filter: blur(2px);
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@mixin arrow_button {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin: 10px 10px;
}

#wrapper {
  position: relative;
  width: 275px;
  text-align: center;
  margin: 70px auto;

  .card_box_wrapper {
    width: 275px;
    text-align: left;
    margin-bottom: 30px;
  }

  .heading {
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.24px;
    margin-bottom: 20px;
  }

  .card_box::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }

  .card_box {
    display: flex;
    align-items: flex-start;
    width: 275px;
    height: 280px;
  }

  .card_box_inner {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    width: 275px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .card_box_inner::-webkit-scrollbar {
    display: none;
  }

  .card {
    float: left;
  }

  .top_left_arrow_box {
    @include arrow_box("../assets/Ellipse.jpg");
    z-index: 999;
    top: 160px;
    left: -20px;
  }

  .top_left_arrow_button {
    @include arrow_button();
  }

  .top_right_arrow_box {
    @include arrow_box("../assets/Ellipse.jpg");
    z-index: 999;
    top: 160px;
    right: -20px;
  }

  .top_right_arrow_button {
    @include arrow_button();
  }

  .bottom_left_arrow_box {
    @include arrow_box("../assets/Ellipse.jpg");
    z-index: 999;
    top: 530px;
    left: -20px;
  }

  .bottom_left_arrow_button {
    @include arrow_button();
  }

  .bottom_right_arrow_box {
    @include arrow_box("../assets/Ellipse.jpg");
    z-index: 999;
    top: 530px;
    right: -20px;
  }

  .bottom_right_arrow_button {
    @include arrow_button();
  }

  .link_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link_to_post {
    display: flex;
    width: 280px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Purple-600, #9935ff);
    margin: 0 auto;
  }

  .text_in_button {
    color: var(--white, #fff);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.18px;
  }
}

@media only screen and (min-width: 620px) {
  #wrapper {
    width: 570px;

    .card_box {
      width: 570px;

      .card_box_inner {
        width: 570px;
      }
    }
  }

  .card_box_wrapper {
    width: 570px;
    text-align: left;
    margin-bottom: 30px;

    .heading {
      color: $black;
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.24px;
      margin-bottom: 20px;
    }

    .card_box {
      width: 570px;

      .card_box_inner {
        width: 570px;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #wrapper {
    width: 866px;

    .card_box {
      width: 866px;

      .card_box_inner {
        width: 866px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #wrapper {
    width: 1160px;

    .card_box {
      width: 1160px;

      .card_box_inner {
        width: 1160px;
      }
    }
  }
}
