@use "../styles/colors.scss";
@use "../styles/mixin.scss";

@mixin label-style($bgColor) {
  background: $bgColor;
  display: inline-block;
  width: 16.8rem;
  height: 16.8rem;
  cursor: pointer;
  position: relative;
}

.form {
  margin: 5.7rem auto 0;
  width: 72rem;
  display: flex;
  flex-direction: column;

  input,
  select,
  textarea {
    margin-bottom: 5rem;
  }

  &__div__title,
  &__label__title {
    @include mixin.font-style(2.4rem, 700, 4.2rem);
    margin-bottom: 1.2rem;
  }

  &__select {
    @include mixin.font-style(1.6rem, 400, 2.6rem);
    color: colors.$gray-500;
    padding: 1.6rem 1.2rem;
    width: 32rem;
    border-radius: 8px;
    border: 1px solid colors.$gray-300;

    option {
      padding: 1.6rem 1.2rem;
    }
  }
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;

  .descriptAndButton {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      @include mixin.font-style(1.6rem, 400, 2rem);
      color: colors.$gray-500;
      span {
        @include mixin.font-style(1.2rem, 400, 0.5rem);
      }
    }

    div {
      display: flex;
      gap: 2rem;
    }
  }

  .profileContainer__img {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    border: 2px colors.$purple-500 solid;
  }

  button:hover,
  #imgSelector:hover {
    background: colors.$purple-700;
    color: colors.$white;
  }
}

.button__reset {
  background: colors.$purple-500;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  color: colors.$white;
}

#imgSelector {
  background: colors.$purple-500;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  label {
    display: block;
    line-height: 30px;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    cursor: pointer;
    color: colors.$white;
  }
}

#imgInput {
  display: none;
}

.buttonContainer {
  display: flex;
  gap: 5rem;
  margin: 1rem 0 5rem;
}

@media (max-width: 1248px) {
  .form {
    margin: 4.9rem auto 2.4rem;
  }
}

@media (max-width: 768px) {
  .form {
    width: 36rem;
    margin: 4.9rem auto 2.4rem;

    &__select {
      width: 100%;
    }
  }
}
