@import "../styles/global.scss";

@mixin bgimg($url) {
  background-image: url($url);
  padding: 6.3rem 0 11.3rem;
  min-height: 108rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background__img1 {
  @include bgimg("https://i.ibb.co/f2zR969/bgImg1.jpg");
}

.background__img2 {
  @include bgimg("https://i.ibb.co/6JWjMfM/bgImg2.jpg");
}

.background__img3 {
  @include bgimg("https://i.ibb.co/n8GJNT2/bgImg3.jpg");
}

.background__img4 {
  @include bgimg("https://i.ibb.co/8K7DwmZ/bgImg4.jpg");
}

@mixin bgcolor($color) {
  padding: 6.3rem 0 11.3rem;
  min-height: 108rem;
  background-color: $color;
}

.background__beige {
  @include bgcolor($orange-200);
}

.background__purple {
  @include bgcolor($purple-200);
}

.background__blue {
  @include bgcolor($blue-200);
}

.background__green {
  @include bgcolor($green-200);
}

.container {
  position: fixed;
  bottom: 0;
  display: flex;
  place-content: center;
  width: 100%;
  max-width: 120rem;
  padding-bottom: 2.4rem;
  margin: 0 auto;

  @include tablet {
    place-content: flex-end;
    padding: 2.4rem;
  }

  @include desktop {
    position: static;
    place-content: flex-end;
    padding: 0 2.4rem 1.1rem;
  }
}

.button {
  display: flex;
  place-content: center;
  place-items: center;
  width: 32rem;
  height: 5.6rem;
  border-radius: 1.2rem;
  background-color: $purple-600;
  @include font-style(1.8rem, 400, 2.8rem);
  color: $white;

  @include tablet {
    width: 100%;
    height: 5.5rem;
    @include font-style(1.8rem, 700, 2.7rem);
  }

  @include desktop {
    width: 9.2rem;
    height: 3.9rem;
    border-radius: 0.6rem;
    @include font-style(1.6rem, 400, 2.6rem);
  }
}
