@import "../styles/global.scss";

.background {
  padding: 6.3rem 0 11.3rem;
  background-color: $orange-200; // background-color 값은 나중에 받아야한다.
  min-height: 108rem; // 100%해도 안에 요소가 없으면 작아져서 강제로 108rem을 주었습니다.
}

.container {
  position: fixed;
  bottom: 0;
  display: flex;
  place-content: center;
  width: 100%;
  max-width: 120rem;
  padding-bottom: 2.4rem;
  margin: 0 auto;

  @include tablet {
    place-content: flex-end;
    padding: 2.4rem;
  }

  @include desktop {
    position: static;
    place-content: flex-end;
    padding: 0 2.4rem 1.1rem;
  }
}

.button {
  display: flex;
  place-content: center;
  place-items: center;
  width: 32rem;
  height: 5.6rem;
  border-radius: 1.2rem;
  background-color: $purple-600;
  @include font-style(1.8rem, 400, 2.8rem);
  color: $white;

  @include tablet {
    width: 100%;
    height: 5.5rem;
    @include font-style(1.8rem, 700, 2.7rem);
  }

  @include desktop {
    width: 9.2rem;
    height: 3.9rem;
    border-radius: 0.6rem;
    @include font-style(1.6rem, 400, 2.6rem);
  }
}
