@import "../styles/global.scss";

@mixin bgimg($url) {
  background-image: url($url);
  padding: 11.3rem 0;
  min-height: 108rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background__img1 {
  @include bgimg("https://i.ibb.co/f2zR969/bgImg1.jpg");
}

.background__img2 {
  @include bgimg("https://i.ibb.co/6JWjMfM/bgImg2.jpg");
}

.background__img3 {
  @include bgimg("https://i.ibb.co/n8GJNT2/bgImg3.jpg");
}

.background__img4 {
  @include bgimg("https://i.ibb.co/8K7DwmZ/bgImg4.jpg");
}

@mixin bgcolor($color) {
  padding: 11.3rem 0;
  min-height: 108rem;
  background-color: $color;
}

.background__beige {
  @include bgcolor($orange-200);
}

.background__purple {
  @include bgcolor($purple-200);
}

.background__blue {
  @include bgcolor($blue-200);
}

.background__green {
  @include bgcolor($green-200);
}

// .background__beige {
//   padding: 11.3rem 0;
//   background-color: $orange-200;
//   min-height: 108rem; // 100%해도 안에 요소가 없으면 작아져서 강제로 108rem을 주었습니다.
// }
