@import "../styles/global.scss";

.background__beige {
  padding: 11.3rem 0;
  background-color: $orange-200;
  min-height: 108rem; // 100%해도 안에 요소가 없으면 작아져서 강제로 108rem을 주었습니다.
}

.background__purple {
  padding: 11.3rem 0;
  background-color: $purple-200;
  min-height: 108rem; // 100%해도 안에 요소가 없으면 작아져서 강제로 108rem을 주었습니다.
}

.background__blue {
  padding: 11.3rem 0;
  background-color: $blue-200;
  min-height: 108rem; // 100%해도 안에 요소가 없으면 작아져서 강제로 108rem을 주었습니다.
}

.background__green {
  padding: 11.3rem 0;
  background-color: $green-200;
  min-height: 108rem; // 100%해도 안에 요소가 없으면 작아져서 강제로 108rem을 주었습니다.
}
