@import "../../styles/global.scss";

.container {
  display: grid;
  grid-template-columns: repeat(32rem);
  justify-content: center;
  row-gap: 1.6rem;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    row-gap: 1.6rem;
    column-gap: 1.6rem;
    padding: 0 2.4rem;
  }

  @include desktop {
    row-gap: 2.8rem;
    column-gap: 2.4rem;
  }
}
