.arrowDropDownModal {
  display: flex;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  position: absolute;
  top: 4.4rem;
  right: -0.8rem;
  padding: 2.4rem 2.2rem;
  width: 31.2rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgb(182, 182, 182);
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.2rem 1.2rem 0rem;
}
.arrowDropDownModal__badgeEmoji {
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 1.2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 21px;
  color: #ffffff;
  border-radius: 3.2rem;
  background: rgba(0, 0, 0, 0.54);
}